
.footer-row {
    background: $color-primary-2;//$gray-light; //$color-primary-0;
    color: $color-primary-6;
    padding: 10px;
    margin-top: 15px;
    font-size:  $font-size-small;
    hr {
        border-top: 1px solid $gray-light;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    a {
        color: lighten($gray-base, 75%);   
    }
}

