
.footer-row {
    background: $color-secondary-1;//$gray-light; //$color-primary-0;
    color: $color-primary-2;
    padding: 10px;
    margin-top: 15px;
    font-size:  $font-size-small;
    hr {
        border-top: 1px solid $gray-light;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    a {
        color: $color-secondary-3;
        &:hover {
            color: $color-primary-2;
        }
    }
}

