#mainNav {
    .site-description {
        color: $gray-light;
        font-size: $font-size-large;
    }
    .socialconnect {
        margin-top: 25px;
    }
}

.container-fluid {
    #search-wrapper {
        background-image: url('/assets/images/bg-trianglify-short.svg');
        background-size: cover;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        text-align: center;
        display: none;
        p {
            margin: 0px;
        }
        input {
          display: inline-block;
          max-width: 60%;
          vertical-align: middle;
        }
        button {
          display: inline-block;
          width: auto;
          vertical-align: middle;
        }
    }
}

.navbar-inverse {
    .active-text * {
        color: $navbar-inverse-toggle-icon-bar-bg;
    }
}

#tj-navbar-collapse {
    .navbar-nav {
        margin-left: -15px;
        li {
            font-size: ceil(($font-size-base * 1.14));
            a {
                @media (min-width: $screen-sm-min) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .navbar-right {
        padding-right: 15px;
    }
    .search-icon {
        cursor: pointer;
    }
}